# Database
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=erpnext
MYSQL_USER=erpnext
MYSQL_PASSWORD=change-me

# ERPNext
FRAPPE_SITE_NAME_HEADER=erpnext.example.com
UPSTREAM_REAL_IP_ADDRESS=127.0.0.1
UPSTREAM_REAL_IP_HEADER=X-Forwarded-For
UPSTREAM_REAL_IP_RECURSIVE=on

# Dokploy Specific
DOKPLOY_APP_ID=erpnext-production